<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Tasks</title>
</head>
<style>
    .tasks-list {
        display: flex;
        justify-content: center;
    }

    .task-row {
        text-align: center;
        margin: 3px 2px;
    }

    .task {
        padding: 8px;
        border-radius: 5px;
    }

    /*********** CHECKBOX ************/
    .task-checkbox {
        width: 20px;
        height: 20px;
    }


    /* urgent and important task */
    .ui-task {
        background-color: #ee5253;
    }

    /* urgent but not important */
    .uni-task {
        background-color: #10ac84;
    }

    /* not urgent but important */
    .nui-task {
        background-color: #ff9f43;
    }

    /* not urgent not important */
    .nuni-task {
        background-color: #0abde3;
    }

    /* show pomodoro number */
    .pomodoro {
        display: inline-block;
        height: 18px;
        width: 18px;
        line-height: 18px;
        background-color: #ee5253;
        border-radius: 50%;
        padding: 10px;
        color: white;
        text-align: center;
    }

    /*****************************/
    /*     ACTION BUTTONS       */
    /****************************/
    .btn {
        padding: 8px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
    }

    .delete-btn {
        background-color: #ee5253;
    }

    .complete-btn {
        background-color: #1dd1a1;
    }

    .pending-btn {
        background-color: #ff9ff3;
    }
</style>
<body>
<h3>Denni Todo</h3>
<hr>
<div class="">
    <form action="/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="create-task" value="Add New Task">
    </form>
</div>
<div class="tasks-list">
    <table>
        <thead>
        <th>#</th>
        <th>Name</th>
        <th>Pomodoros</th>
        <th>Actions</th>
        </thead>
        {% for task in tasks %}

            <tr class="task-row">
                <td>
                    <input type="checkbox" name="complete-task" class="task-checkbox" id="task-{{ task.id }}">
                </td>
                    <td class="task
            {% if task.priority == '1' %}
                ui-task
            {% elif task.priority == '2' %}
                nui-task
            {% elif task.priority == '3' %}
                uni-task
            {% else %}
                nuni-task
            {% endif %}
            "><a href="{% url 'update_task' task.id %}" class="btn">{{ task.title }}</a></td>
                <td class="pomodoro">{{ task.pomodoro_number }}</td>
                <td>

                    <a href="#" class="btn delete-btn">Delete</a>
                    <a href="#" class="btn pending-btn">Pending</a>
                </td>
            </tr>


        {% endfor %}
    </table>
</div>
</body>
</html>